section{
	position:right;
	top: 50%;
}
div{
	display:inline;

	
	color: black;
	
	vertical-align: middle;
    text-align: left;

	
	font-size: 36px ;
	font-family: 'Baloo';

	height:144px;
	width: 120px;
    border: 2pt;
    border-style: solid;
    border-color:  #606060;
    border-radius: 10px;

    padding: 17px;
    
    margin: 8.5px;
}

div#p01{background-color: #f7fade;}

div#p02{background-color: #dfedd6;}

div#p03{background-color: #f7fade;}

div#p04{background-color: #dfedd6;}

